@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}
body
{
	overflow-x: hidden;
	background: #dedede;
}
.click
{
	background: #2981bc;
	color: #fff;
	text-align: center;
	padding: 10px 15px;
	border: 1px solid #0059b3;
}
.click, .popup_box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
}
.popup_box
{
	user-select: none;
	width: 400px;
	background: #f2f2f2;
	text-align: center;
	align-items: center;
	padding: 40px;
	border: 1px solid #d3d3d3;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}